main {
  min-height: 80vh;
}

.rating span {
  margin: 0.1rem;
}

.rating svg {
  color: #f8e825;
}

.rating-text {
  font-size: 0.8rem;
  font-weight: 600;
  padding-left: 0.5rem;
}

.product-title {
  height: 2.5em; /* Set a fixed height */
  overflow: hidden; /* Hide overflow content */
  text-overflow: ellipsis; /* Add ellipsis for long text */
  white-space: nowrap; /* Prevent wrapping */
}

table td,
table th {
  text-align: center;
}

.review {
  margin-top: 30px;
}

.review h2 {
  font-size: 24px;
  background: #f4f4f4;
  padding: 10px;
  border: 1px solid #ddd;
}

.review button {
  margin-top: 10px;
}

.carousel-caption {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.logoBrand {
  width: 120px;
  height: 70px;
}

/* home page slider */
.custom_slider{
  width: 100%;
  border: 1px solid rgba( 24, 188, 156, 1 );
  height: var(--height);
  overflow: hidden;
  mask-image: linear-gradient(to right,transparent,#000 10% 90%,transparent);
  position: relative;
}

.custom_slider .list{
  display: flex;
  width: 100%;
  position: relative;
  min-width: calc(var(--width) * var(--quantity));
}

.custom_slider .list .item{
    width: var(--width);
    height: var(--height);
    position: absolute;
    left: 100%;
    animation: autorun 8s linear infinite;
    animation-delay: calc((8s / var(--quantity)) * (var(--position) - 1));
}

.custom_slider .list .item .img{
  width: 100%;
}

@keyframes autorun {
  from{
    left: 100%;
  }
  to{
    left:calc(var(--width) * -1);
  }
}

.custom_slider:hover .item{
  animation-play-state: paused !important;
  filter: grayscale(1)
}

.custom_slider .item:hover {
  filter: grayscale(0);
}

h1{

}